#home {
    display: flex;
    flex-direction: column;
    color: #ff4500;
    padding: 40px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.5rem;
    gap: 50px;
}

.link {
    text-decoration: none;
    color: #ff4500;
}

#home > ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
    padding: 0;
    text-align: center;
}
